.footer {
    background-color: #2F5E8F;
    padding: 4% 5%;
}

.footer-logo {
    text-align: center;
}

.footer-nav-container {
    display: flex;
    padding: 2% 0;
}

.footer-copyright .logo-foot {
    font-family: 'Anton', sans-serif;
    font-size: 1.75rem;
    /* 28px */
    font-weight: 500;
    line-height: 1.925rem;
    /* 30.8px */
    color: #ffffff;
    display: none;
}

.footer-copyright .copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 400;
    line-height: 1.75rem;
    /* 28px */
    color: #ffffff;
}

.footer-nav {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 400;
    line-height: 1.75rem;
    /* 28px */
}
.footer-nav a:hover {
    color: #F9530F;
}

/* SocialMediaIcons.css */
.footer-social {
    display: flex;
}

.social {
    display: flex;
    gap: 1.8rem;
    margin-left: auto;
}

.social-icon {
    background-color: white;
    border-radius: 50%;
    width: 2.9rem;
    height: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F5E8F;
    font-size: 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}


.logo img{
    width: 35%;
    height: auto;
}

.logo-foot img{
    width: 25%;
    height: auto;
}

@media (max-width: 768px) {

    .footer-logo {
        display: none;
    }

    .footer-copyright .copyright,
    .footer-copyright .logo-foot {
        display: block;
        padding: 10px 0;
    }

    .footer-nav-container {
        display: block;
        padding: 0;
    }

    .footer-social {
        display: none;
    }

    .footer-nav {
        padding: 10px 0;
        gap: 0;
        justify-content: space-between;
    }

}
