.landing-page {
    font-family: Arial, sans-serif;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/LandingPage/BackgroundHeadImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #ffffff;
    width: 100%; /* Full width of the screen */
    height: 37.8125rem; /* Full height of the viewport */
    background-color: #F1F5F9;
}

.hero-content {
    max-width: 45%;
    margin-left: 5%;
    margin-top: 1.875rem;
}

.hero-content h1 {
    font-family: 'Roboto',sans-serif;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 4.95rem;
    text-align: left; 
    margin: 0;
}

.hero-content h2 {
    font-family: 'Roboto',sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.85rem;
    text-align: left;
    color: #CBD5E1;
    margin: 0;
}

.hero-content p {
    margin: 1.25rem 0;
    font-family: 'Roboto',sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: left;
}

.learn-more-button {
    padding: 1rem 1.25rem;
    background-color: #2F5E8F;
    color: white;
    border: 0.125rem solid white;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    text-align: center;
    margin: 1.25rem 0;
}

.learn-more-button:hover {
    background-color: white;
    color: #2F5E8F;
    border: 0.125rem solid white;
}

.hero-image {
    height: auto;
    border-radius: 0.625rem;
    right: 0;
    margin-right: 5%;
}

.image-hero {
    width: 100%;
}

.social-icons {
    margin-top: 1.25rem;
}

.social-icons a {
    margin-right: 2.5rem;
}

.social-icons img {
    width: 2.5rem;
    height: 2.5rem;
}

/* Capture Section */
.capture-section {
    display: flex;
    align-items: center;
    padding: 5%;
    box-shadow: 0rem 0.25rem 2.5rem 0rem #0000000D;
    background: #F1F5F9;
}

.capture-image {
    max-width: 45%;
    margin-right: 1.25rem;
}

.capture-image2 {
    display: none;
}

.capture-content {
    max-width: 50%;
    margin-left: 5%;
}

.capture-content h2 {
    font-size: 3.5rem;
    color: #2F5E8F;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 3.85rem;
    text-align: left;
}

.capture-content p {
    margin: 1.875rem 0;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: left;
}

.get-started-button {
    padding: 1rem 1.25rem;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    text-align: center;
    margin: 1.25rem 0;
    background-color: white;
    color: #2F5E8F;
    border: 0.125rem solid #2F5E8F;
}

.get-started-button:hover {
    background-color: #2F5E8F;
    color: white;
    border: 0.125rem solid #2F5E8F;
}

/* Testimonials Section */
.testimonials-section {
    padding: 3.125rem;
    text-align: center;
}

.testimonials-section h2 {
    color: #2F5E8F;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.85rem;
    text-align: center;
}

.testimonials {
    display: flex;
    justify-content: space-around;
}

.testimonial {
    max-width: 30%;
}

.testimonial-logo {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.testimonial p {
    color: #383E4A;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

/* Footer Section */
.end-section {
    background-image: url('../images/LandingPage/EndSectionBackground.png');
    background-size: cover;
    background-position: center;
    padding: 2.0625rem 0;
    text-align: center;
    color: #333;
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.3125rem;

    margin: 5rem 0 6.25rem 0;
}

.end-section p {
    margin: 0;
}

.end-section-content .bold-text {
    color: #b92129;
    font-weight: 800;
}

.past-client-container {
    display: flex;
    justify-content: space-around;
    background: #EBF5FF;
    align-items: center;
    padding: 2.5rem 0;
}

.past-client-container img {
    width: 20%;
    height: auto;
    object-fit: contain; 
}

@media (max-width: 1270px) {

    :root {
        font-size: 14px;
    }

    .hero-content h1{
        font-size: 4rem;
    }
}

@media (max-width: 1024px) {

    :root {
        font-size: 12px;
    }
}

@media (max-width: 950px) {

    :root {
        font-size: 10px;
    }

    .hero-content h1{
        font-size: 3.3rem;
    }

    .hero-content h2{
        font-size: 3rem;
    }

    .hero-content p{
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {

    :root {
        font-size: 12px;
    }
    .capture-section,
    .hero-section,
    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .get-started-button,
    .learn-more-button {
      font-size: 2rem;
      padding: 1.5rem;
      border-radius: 3rem;
    }

    .hero-content{
        margin: 0;
        padding: 0 30px 30px 30px;
    }

    .hero-content h1, 
    .hero-content h2, 
    .hero-content p {
        text-align: center;
    }

    .hero-content {
        text-align: center;
    }

    .social-icons {
        display: none;
    }

    .hero-section {
        background-color: #EAF2FB;
        background-position: left;
        height: auto;
        justify-content: center;
        padding: 70px 0px;
    }

    .hero-image {
        max-width: 70%;
        margin: auto;
    }

    .hero-content {
        max-width: 100%;
    }

    .capture-section {
        padding: 20px 10px;
        background-color: #EAF2FB;
        box-shadow: 0rem 0.25rem 2.5rem 0rem #0000000D;
    }

    .capture-content{
        margin: 0;
        text-align: center;
        max-width: 90%;
    }

    .testimonials-section{
        background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
    }

    .capture-content h2,
    .testimonials-section h2{
        text-align: center;
        font-size: 4rem;
        color: #0F172A;
    }
    .capture-content p,
    .testimonials-section p{
        text-align: center;
        font-size: 2rem;
        color: #0F172A;
        line-height: 2.5rem;
    }

    .capture-image {
        display: none;
    }

    .capture-image2 {
        display: block;
        width: 70%;
        margin: 40px auto;
    }

    .testimonial {
        max-width: 90%;
    }

    .testimonial-logo{
        width: 30%;
        height: auto;
        margin: 20px auto;
    }

    .end-section{
        font-size: 3.5rem;
        line-height:4rem;
    }
}
@media (max-width: 480px) {

    :root {
        font-size: 10px;
    }

    .capture-content h2,
    .testimonials-section h2{
        font-size: 3.5rem;
    }
    .testimonial-logo{
        width: 60%;
    }
    .end-section{
        font-size: 2.5rem;
        line-height:3rem;
        margin: 3rem auto;
    }
}
