
.services-section {
    text-align: center;
    background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
}

.section-heading {
    padding: 3.125rem 5rem;
}


.sub-heading{
    width: 70%;
    margin: 0 auto;
}
.text-end{
    width: 90%;
    margin: 0 auto;
}
.text-end h4{
    margin-top: 3rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
    color: #030701;
    margin: 2rem 0 1rem;
}
.services-section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.85rem;
    text-align: center;
    color: #2F5E8F;
}

.services-section p {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 3.56rem;
    text-align: center;
    color: #030701;
    margin: 0 0 1rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 5rem;
}

.service {
    width: 350px;
    margin: 1.5625rem;
    text-align: center;
}

.service img {
    width: 6.25rem;
    height: 6.25rem;
}

.service h3 {
    margin: 1.25rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: center;
    color: #0F172A;
}

.service p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: #0F172A;
}

.mission-section {
    background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
    text-align: center;
}

.mission-section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.85rem;
    text-align: center;
    color: #2F5E8F;
    margin-bottom: 1.25rem;
}

.mission-section p {
    font-family: 'Inter', sans-serif;
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    color: #030701;
    margin: 0 0 1rem;
}

.mission-statements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5rem 3.125rem 5rem;

}

.mission {
    width: 350px;
    margin: 1.25rem;
    text-align: center;

    border: 1px solid #2F5E8F;
    box-shadow: 0 0 20px 0 #0000001A;
    border-radius: 10px;
    padding: 1rem;
    background-color: #edf3f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.mission img {
    width: 6.25rem;
    height: 6.25rem;
}

.mission p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
    color: #0F172A;
}

.mission h3 {
    margin: 1.25rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: center;
    color: #0F172A;
}
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    :root {
        font-size: 12px;
    }
    .sub-heading{
        width: 100%;
        margin: 0 auto;
    }

    .services-section h2 {
        color: #0F172A;
        font-weight: 700;
    }

    .services-section p {
        font-family: 'Roboto', sans-serif;
        line-height: 2.7rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .services {
        padding: 5%;
        background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
    }
    .mission-statements {
        padding: 6%;
        background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
    }
    .section-heading {
        background-color: #EAF2FB;
        padding: 5%;
    }

    .service p {
        line-height: 2.1rem;
    }
}
