

.services-section {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);

}

.services-section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
    color: #2F5E8F;
    margin-bottom: 20px;
}

.services-section p {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 57px;
    text-align: center;
    color: #030701;

}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 70px;
}

.service {
    max-width: 350px;
    margin: 25px;
    text-align: center;
}

.service img {
    width: 100px;
    height: 100px;
}

.service h3 {
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
    color: #0F172A;
}

.service p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #0F172A;
}

/* Mission Section */
.mission-section {
    background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
    padding: 50px 0;
    text-align: center;
}

.mission-section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
    color: #2F5E8F;
    margin-bottom: 20px;
}

.mission-statements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
}

.mission {
    width: 30%;
    max-width: 350px;
    margin: 20px;
    text-align: center;
}

.mission img {
    width: 100px;
    height: 100px;
}

.mission p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #0F172A;

}
