@import url('https://fonts.googleapis.com/css2?family=Stara:wght@600&display=swap'); /* Ensure this URL is correct */

.services-section {
    margin-bottom: 40px;
  }
  
  .services-section h1 {
    padding-left: 60px;
    margin-bottom: 20px;
    color: #263238;
    font-family: 'Stara', sans-serif;
    font-size: 72px;
    line-height: 85px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .services-content {
    display: flex;
    justify-content: center;
    background: #F7F7F2;
    align-items: stretch;
    padding: 20px;
  }
  
  .left-column,.center-column, .right-column {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .center-column{
    padding: 40px 0;
  }
  
  
  .service-item {
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  .service-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .service-text {
    text-align: left;
  }
  
  .service-center {
    background: #B92129;
    color: #FDFFFC;
    text-align: center;
    border-radius: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 20px;
  } 

  .service-center h2{
    font-family: 'Stara', sans-serif;
    font-size: 45p÷x;
    line-height: 65px;
    font-weight: 600;
  }
  
  .service-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Stara', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 800;
    color: #2F5E8F;
  }
  
  .service-item p {
    font-family: 'Stara', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 200;
    color: #263238;
  }
  
  @media (max-width: 768px) {
    .services-content {
      flex-direction: column;
      align-items: center;
    }
  
    .left-column, .center-column, .right-column {
      margin: 10px 0;
    }
  
    .service-center {
      flex-basis: auto;
    }
  }
  